apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sre-api.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "sre-api.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "sre-api.name" . }}
    spec:
      containers:
        - name: api
          image: "{{ .Values.image.repository }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
          env:
            - name: APP_NAME
              value: {{ .Values.config.appName | quote }}
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5

